apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
  labels:
    app: iris-api
spec:
  type: LoadBalancer
  selector:
    app: iris-api
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http